.drgagNdropBlock {
  display: flex;
  gap: 8px;
  position: relative;
}

.r27 {
  margin-right: 17.5px;
  width: 528px;
  margin-left: auto;
}

.OnDragHover {
  padding-top: 30px;
}

.drgagNdropBlock > svg {
  margin-top: auto;
  margin-bottom: auto;
}
