.header {
  background-color: var(--bg-header);
  display: flex;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;

  &Logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 112px;
    margin-right: 289px;
  }

  &Content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

.MenuItemContent {
  display: flex;
  gap: 8px;
}

.leftMenu {
  display: flex;
  width: fit-content;
}

.notActive,
.notActive > svg {
  color: #8585ad;
  fill: #8585ad;
  stroke: #8585ad;
}

.MenuItemContent > svg {
  width: 22px;
  height: 22px;
  margin: auto 0;
}

.rightMenu {
  display: flex;
}
