.MenuItem {
  display: flex;
}

.MenuItem > p {
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Jet Brains Mono";
  height: fit-content;
}

.MenuItemContent {
  gap: 8px;
}
