.constructor-element {
  margin-left: auto;
}

.drgagNdropBlock > svg {
  margin-top: auto;
  margin-bottom: auto;
}

.BurgerMainComponens {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 464px;
  overflow-y: scroll;
}

.constructor-element_pos_top,
.constructor-element_pos_bottom {
  margin-right: 17px;
}
